USE HowKteam
GO

--A hợp B . Dữ Liệu trả về là duy nhất
SELECT MAGV FROM dbo.GIAOVIEN
WHERE LUONG >=2500
UNION
SELECT MAGV FROM dbo.NGUOITHAN
WHERE PHAI = N'Nữ'

--bạn có thể so sanh với bảng này
SELECT GIAOVIEN.MAGV FROM dbo.GIAOVIEN,dbo.NGUOITHAN
	WHERE LUONG >=2500
	AND NGUOITHAN.PHAI = N'Nữ'